body
{
	background-color: #2F3336;
	color: #ddd;
    font-size: 22px;
    font-family: 'Kalam', cursive;
}

h1
{
    font-size: 48px;
    font-weight: 700;
    color: #1c74b2;
    text-align: center;
    margin-left: 45%;
    float: left;
}

p
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#entry
{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 5px;
}

.button
{
    width: 190px;
    float: left;
    text-align: center;
    margin: 5px;
    background-color: #1c74b2;
    border-radius: 5px;
}

.button:hover
{
    width: 190px;
    float: left;
    text-align: center;
    margin: 5px;
    background-color: #47a1e0;
    border-radius: 5px;
    cursor: pointer;
}

.input
{
    margin: 5px;
    background-color: #1c74b2;
    width: 300px;
    border: 1px solid #185988;
    border-radius: 5px;
    min-height: 28px;
    color: #ddd;
    font-size: 14px;
    float: left;
    display: none;
}

.cancel
{
    border-radius: 5px;
    background-color: #1c74b2;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px;
    text-align: center;
    display: none;
}

.cancel:hover
{
    border-radius: 5px;
    background-color: #47a1e0;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.confirm
{
    border-radius: 5px;
    background-color: #1c74b2;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px;
    text-align: center;
    display: none;
    float: left;
}

.confirm:hover
{
    border-radius: 5px;
    background-color: #47a1e0;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

#fields
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.selectField
{
    margin-top: 10px;
    margin-left: 5px;
    background-color: #1c74b2;
    width: 390px;
    border-radius: 5px;
    text-align: center;
}

.selectField:hover
{
    margin-top: 10px;
    margin-left: 5px;
    background-color: #47a1e0;
    width: 390px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#task
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h2
{
    margin: 10px;
    float: left;
}

.cancelField
{
    margin-top: 10px;
    font-size: 30px;
    float: left;
}

.cancelField:hover
{
    float: left;
    cursor: pointer;
    color: #ffffff;
}

.doneField
{
    margin-top: 10px;
    font-size: 30px;
    float: left;
}

.doneField:hover
{
    float: left;
    cursor: pointer;
    color: #ffffff;
}

.cancelTask
{
    float: left;
}

.cancelTask:hover
{
    float: left;
    cursor: pointer;
    color: #ffffff;
}

.doneTask
{
    margin-left: 10px;
    float: left;
}

.doneTask:hover
{
    float: left;
    cursor: pointer;
    color: #ffffff;
}

ol > li
{
    float: left;
}

#clock
{
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
